.form{
    position: relative;
    width: 400px;
    height: 350px;
    padding-left: 20px;
    padding-top: 15px;
    background-color: rgb(28, 243, 232);
    border-radius: 20px;
    margin: auto;
}
p{
  color: blue;
}
input[type=submit]{
    position: relative;
    background-color: blue;
    border-radius: 20px;
    color:white;
    
}